extends skeleton.pug

block append css
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.6/css/highcharts.css")

block append html_js
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.6/js/highstock.js")
  script(src="https://code.highcharts.com/stock/modules/exporting.js")

block content
  section#stockChart(style="height: 400px; min-width: 310px")

  form.row
    .input-group.col-md-offset-4.col-md-4
      input#toAdd.form-control.input-lg(type="text", placeholder="GOOG, FB, etc...")
      span.input-group-btn
        button#btnAdd.btn.btn-lg.btn-default(type="submit") Add
  br
  section#companies.row.container
    each company in companies
      article(id=company.symbol).col-sm-4.col-md-3
        button.btn.btn-xs.pull-right
          span.glyphicon.glyphicon-remove
        h3 #{company.symbol}
        p #{company.name} (#{company.symbol})


block append js
  script.
    function createCompanyElement(company){
       let article = document.createElement("ARTICLE");
       article.className = "col-sm-4 col-md-3";
       let button = document.createElement("BUTTON");
       button.className = "btn btn-xs pull-right";
       let span = document.createElement("SPAN");
       span.className = "glyphicon glyphicon-remove";
       let h3 = document.createElement("H3");
       h3.innerHTML = company.symbol;
       let p = document.createElement("P");
       p.innerHTML = company.name + ' (' + company.symbol + ')';

       button.appendChild(span);
       article.appendChild(button);
       article.appendChild(h3);
       article.appendChild(p);

       return article;
    }
  script(type='text/javascript', src='/controllers/stockChart.client.js')
